[run]
# Include the main CLI script and the classes directory
source = 
    gh_semver.py
    classes/*

# Exclude test files
omit = 
    tests/*
    setup.py

[report]
# Fail the build if the coverage is less than 80%
# TODO set an appropriate threashold - or your GitHub workflow will fail
fail_under = 30

# Skip empty files
skip_empty = True

